*{
    margin: 0;
    padding: 0;
}

 body{
    background-color: rgb(0, 185, 15);
    overflow-y: hidden;
    overflow-x: hidden;
}

 #name{
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgb(213, 0, 11);
    padding: 0px 5px;
    font-size: 1.5rem;
    
}   
svg{
    width: 70%;
    height: 70%;
}

svg path{
    cursor: pointer;
}

svg path:hover{
    fill: rgb(213, 0, 11);
}